.stadium-section {
    fill: #f0f0f0; /* Couleur de base des sections (gris clair) */
    stroke: #ccc;      /* Bordure des sections (gris) */
    stroke-width: 1;
    cursor: pointer;   /* Change le curseur au survol */
}

.stadium-section:hover {
    fill: #a0c4ff; /* Couleur au survol (bleu clair) */
    stroke: #007bff;  /* Bordure au survol (bleu plus foncé) */
    stroke-width: 2;
}

.section-selected {
    fill: #ffdd5e; /* Couleur de remplissage des sections sélectionnées (jaune) */
    stroke: #ffaa00;  /* Bordure des sections sélectionnées (orange) */
    stroke-width: 2;
}

